/*This applies to the entire webpage*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Background Color*/
body {
    background-color: #d9dcd6;
}

/*Main Header*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Company Title*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Company Title*/
header h1 .seo {
    color: #d9dcd6;
}

/*Navigation Bar*/
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Navigation Bar*/
header div ul {
    list-style-type: none;
}

/*List Elements in Navigation Bar*/
header div ul li {
    display: inline-block;
    position: right;
    margin-left: 25px;
}

/*Navigation Bar*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Paragraph text on webpage*/
p {
    font-size: 16px;
}

/*Main Image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Search Engine Optimization*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Online Reputation Management*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Three Main Containers*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Benefits Container*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Lead Generation Container*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Brand Awareness Container*/
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Cost Management Container*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Benefit Lead Heading*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Benefit Brand Heading*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Benefit Cost Heading*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Benefit Lead Image*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Benefit Brand Image*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Benefit Cost Image*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Search Engine Optimization Container*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Online Reputation Management Container*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Social Media Marketing Container*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Search Engine Optimization Image*/
.search-engine-optimization img {
    max-height: 200px;
}

/*Online Reputation Management Image*/
.online-reputation-management img {
    max-height: 200px;
}

/*Social Media Marketing Image*/
.social-media-marketing img {
    max-height: 200px;
}

/*Search Engine Optimization Heading*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Online Reputation Management Heading*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Social Media Marketing Heading*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Footer Heading*/
footer h2 {
    font-size: 20px;
}
